@import 'styles/StylesVariables';

.block_repository_card_link {
  display: flex;
  width: 100%;
  height: 110px;
  padding: 12px;
  border: solid 1px $border-color;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 16px auto;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.block_repository_card_link:hover {
  box-shadow: 0 2px 6px 0 rgba(182, 182, 182, 0.25);
}

.img_repository_card {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.repository_card_text_block {
  display: flex;
  margin-left: 12px;
  width: calc(100% - 92px);
  flex-direction: column;
}

.repository_card_title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.block_repository_card_organization {
  margin-bottom: 4px;
  color: $text-card-color;
  font-size: 14px;
  line-height: 16px;
}

.repository_card_star_svg {
  width: 14px;
  height: 14px;
  color: $star-color;
}

.repository_card_star_count {
  margin-left: 5px;
  color: $text-card-color;
  font-size: 14px;
  line-height: 16px;
}

.repository_card_date {
  margin-left: 18px;
  font-size: 14px;
  line-height: 16px;
  color: $text-card-color;
}
