@import 'styles/StylesVariables';

.block_type_select {
    display: flex;
    overflow: auto;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-family: $font;
}

.type_select_title {
    font-weight: 700;
    font-size: 24px;
}

.type_select_chosen_element {
    display: block;
    width: 160px;
    height: 50px;
    padding: 0 12px;
    border: 1px solid $border-color;
    font-size: 14px;
    background: $main-background-color;
}
.type_select_list_element_input {
    display: block;
    width: 160px;
    height: 50px;
}
.type_select_chosen_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $repository-description-text-color;
    border-radius: 6px;
}

.type_select_chosen_element:hover {
    cursor: pointer;
}

.type_select_chosen_element:focus {
    border-color: $button-primary-color;
    color: $font-black;
}

.type_select_list {
    position: absolute;
    z-index: 2;
}

.type_select_list_element_input {
    position: relative;
}

.type_select_list_element_input:nth-child(n+2){
    margin-top: -6px;
}

.type_select_list_element_input:checked {
    background-color: $border-color;
    font-size: 14px;
}

.type_select_list_element_input_text {
    position: absolute;
    z-index: 3;
    display: flex;
    margin-top: -50px;
    padding: 0 12px;
    width: 160px;
    height: 50px;
    align-items: center;
    border: 1px solid $border-color;
    background: $main-background-color;
    background: $main-background-color;
}

.type_select_list_element_input_text:hover {
    cursor: pointer;
    background-color: $border-color;
}

.type_select_list_element:first-child .type_select_list_element_input_text {
    border-radius: 6px 6px 0 0;
}

.type_select_list_element:last-child .type_select_list_element_input_text {
    border-radius: 0 0 6px 6px;
}