@import 'styles/StylesVariables';

.skeleton_position {
  display: flex;
  justify-content: center;
}

.section__repository_description {
  display: block;
  margin: auto;
  padding: 20px;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
}

.repository_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link_to_back__button {
  width: 20px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none;
}

.link_to_back__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button__svg {
  width: 18px;
  height: 25px;
}

.repository_name__title {
  margin-left: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.link_to_organization {
  height: 26px;
  margin-top: 25px;
}

.link_to_organization__svg_one {
  margin-top: 3px;
}

.link_to_organization__svg_two {
  margin-left: -2px;
  margin-bottom: 4px;
}

.link_to_organization__link {
  margin-left: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-link-color;
}

.tags {
  margin-top: 18px;
  display: flex;
  flex-flow: row wrap;
}

.tags__tag {
  display: flex;
  height: 22px;
  margin: 5px 5px 0 0;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  background: $repository-description-tag-background-color;
  border-radius: 20px;
  font-family: $font;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $repository-description-tag-color;
}

.stars {
  margin-top: 18px;
}

.stars__svg {
  width: 14px;
  height: 14px;
}

.stars__count {
  margin-left: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-text-color;
}

.stars__text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-text-color;
}

.watchers {
  margin-top: 8px;
}

.watchers__svg_one {
  position: relative;
  width: 14px;
  height: 14px;
}

.watchers__svg_two {
  position: absolute;
  margin-left: -9px;
  margin-top: calc(11px / 2);
}

.watchers__count {
  margin-left: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-text-color;
}

.watchers__text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-text-color;
}

.forks {
  margin-top: 8px;
}

.forks__svg {
  width: 14px;
  height: 14px;
}

.forks__count {
  margin-left: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-text-color;
}

.forks__text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 16px;
  color: $repository-description-text-color;
}

.readme {
  margin-top: 25px;
  padding: 12px;
  border: solid 1px $border-color;
  border-radius: 6px;
}

.readme__title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

}

.readme__content {
  margin-top: 12px;
}

.section__repository_description_media {
  @media (min-width: 1201px) {
    width: 360px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    width: 65%;
  }

  @media (max-width: 640px) {
    width: 85%;
  }
}




