//@import '@styles/ColorVariables';
//@import '../src/styles/ColorVariables';

.loader_position {
  display: flex;
  justify-content: center;
}

.block_repository_description {
  display: block;
  margin: auto;
  padding: 20px;
  //font-family: $font;
  font-style: normal;
  font-weight: normal;
}

.repository_description_title_and_link_to_back_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.repository_description_link_to_back_button {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none;
}

.repository_description_link_to_back_button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.repository_description_link_to_back_svg {
  width: 16px;
  height: 25px;
}

.repository_description_title {
  margin-left: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.repository_description_link_and_svg_block {
  height: 26px;
  margin-top: 25px;
}

.repository_description_link_svg_one {
  margin-top: 3px;
}

.repository_description_link_svg_two {
  margin-left: -2px;
  margin-bottom: 4px;
}

.repository_description_link {
  margin-left: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-link-color;
}

.repository_description_tags {
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.repository_description_tag {
  display: flex;
  height: 22px;
  margin: 5px 5px 0 0;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  //background: $repository-description-tag-background-color;
  border-radius: 20px;
  //font-family: $font;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  //color: $repository-description-tag-color;
}

.repository_description_stars_and_svg {
  margin-top: 18px;
}

.repository_description_stars_svg {
  width: 14px;
  height: 14px;
}

.repository_description_stars_count {
  margin-left: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-text-color;
}

.repository_description_stars_text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-text-color;
}

.repository_description_watchers_and_svg_block {
  margin-top: 8px;
}

.repository_description_watchers_svg_one {
  position: relative;
  width: 14px;
  height: 14px;
}

.repository_description_watchers_svg_two {
  position: absolute;
  margin-left: -9px;
  margin-top: 8px;
}

.repository_description_watchers_count {
  margin-left: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-text-color;
}

.repository_description_watchers_text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-text-color;
}

.repository_description_forks_and_svg_block {
  margin-top: 8px;
}

.repository_description_forks_svg {
  width: 14px;
  height: 14px;
}

.repository_description_forks_count {
  margin-left: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-text-color;
}

.repository_description_forks_text {
  margin-left: 4px;
  font-size: 14px;
  line-height: 16px;
  //color: $repository-description-text-color;
}

.repository_description_readme_block {
  margin-top: 25px;
  padding: 12px;
  //border: solid 1px $border-color;
  border-radius: 6px;
}

.repository_description_readme_title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

}

.repository_description_readme_content {
  margin-top: 12px;
}

.block_repository_description {
  @media (min-width: 1201px) {
    width: 360px;
  }
  @media (min-width: 641px) and (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 640px) {
    width: 80%;
  }
}




