$border-color: #D9D9D9;
$button-primary-color: #FF5555;
$text-card-color: #7E7E7E;
$link-hover-color: #288fbf;
$star-color: #FF9432;
$loader-border-color-white: #ffffff;
$loader-border-color: #FF5555;
$repository-description-link-color: #0080FF;
$repository-description-tag-background-color: #DAEDFF;
$repository-description-tag-color: #0066CC;
$repository-description-text-color: #646769;
