$font: roboto-regular, arial, sans-serif;
$border-color: #D9D9D9;
$button-primary-color: #F55;
$text-card-color: #7E7E7E;
$link-hover-color: #288fbf;
$star-color: #FF9432;
$loader-border-color-white: #fff;
$loader-border-color: #F55;
$repository-description-link-color: #0080FF;
$repository-description-tag-background-color: #DAEDFF;
$repository-description-tag-color: #06C;
$repository-description-text-color: #646769;
