$font: roboto-regular, arial, sans-serif;
$border-color: #D9D9D9;
$main-style-color: #F55;
$text-card-color: #7E7E7E;
$link-hover-color: #288fbf;
$star-color: #FF9432;
$main-background-color: #fff;
$repository-description-link-color: #0080FF;
$repository-description-tag-background-color: #DAEDFF;
$repository-description-tag-color: #06C;
$repository-description-text-color: #646769;
$font-black: #000;

