//@import '@styles/ColorVariables';
@import '../../styles/ColorVariables';

//@import '@styles/App';
@import '../../styles/App';

.search_block {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.input_search {
  width: calc(98% - 50px);
  border: solid 1px $border-color;
  border-radius: 6px;
  padding-left: 12px;
  font-family: $font;
  font-style: normal;
  font-size: 14px;
}
.input_search:focus {
  outline: none;
  border: solid 1px $button-primary-color;
}

.search_button {
  width: 50px;
  height: 100%;
  margin-left: 2%;
  border-radius: 6px;
  border: none;
  background-color: $button-primary-color;
}
.search_button:hover {
  opacity: 0.5;
}
.svg_search_button {
  width: 18px;
  height: 18px;
}